body {
  font-family: helvetica, sans-serif;
}

input {
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid grey;
  width: 320px;
}

label {
  position: relative;
  font-size: 150%;
  display: block;
}

.wrapper {
  width: 100%;
  margin: 20px auto;
}

.form-element {
  margin: auto;
  padding: auto;
}

#submitBtn {
  margin: 10px;
}

#errorMessages {
  color: red;
  font-size: 80% !important;
}
